[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=pi_remind
Comment=Raspberry Pi-based reminder app
Exec=  sudo python /home/pi/pi_remind/remind.py
StartupNotify=false
Terminal=true
Hidden=false
